.card {
  border: none;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
}
.logo {
    font-family: 'Gloria Hallelujah', cursive;
 }
 .hero {
   background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #23074d, #cc5333); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #23074d, #cc5333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
    .navbar {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(60, 60, 60, 0.2); 
}

.text-grey {
  color: #bbb;
}

.page-item.active .page-link {
    background-color: #343a40!important;
    border-color: #343a40!important;
}
.page-link {
    color: #343a40!important;
    border: none!important;
}
.page-item.active .page-link {
    color: #fff!important;
}