body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}
.card {
  border: none!important;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
  border-radius: 0!important;
}

 /* .main {

    background: linear-gradient(to right, rgba(120, 170, 186, 0.9), rgba(110, 157, 172, 0.9)), url("../img/mainBg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
 } */
.navbar-brand {
  font-family: 'Pacifico', cursive;
  
}
.navbar-brand.logo {
font-size: 28px;
 }
 .hero {
   background: linear-gradient(to left bottom, #2da2c5eb, rgba(126, 85, 189, 0.94)), url("../img/mainBg.jpg");
    background-position: top;
    background-size: cover;
  min-height: 600px;
  position: relative;
  display: flex;
    align-items: center;
 }
 .hero-title {
   color: #ffffff;
    text-align: center;
    font-size: 60px;
 }
 .btn.btn-main-register {
  color: #fff;
  border: 2px solid #fff;
  border-radius: .25rem;
 }
 .btn.btn-main-register:hover {
  background: #fff;
  color: #35a1c5;
 }
 .btn.btn-main-login {
   color: #fff;
    background-color: #3ecf8e;
    /* border: 2px solid #35a1c5; */
    border-radius: .25rem;
 }
 .btn.btn-main-login:hover {
    background-color: #74f9bd;
    color: #464646;
}
 .activity-card {
   position: relative;
   box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
   cursor: pointer;
 }
 .activity-text {
    background: #ffffff;
    padding: 10px 20px;
 }
 .activity-title {
    color: #7f7f7f;
    font-weight: 400;
    margin: 10px 0 15px;
 }

 .btn-more {
   color: #fff;
    background: #79a4b2;
 }
 .activity-card:hover > .overlay {
   opacity: 1;
 }
 .svg {
   position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
 }
 nav {
   transition: all 300ms;
 }
 nav a:hover {
   color: #fff;
 }
 .nav-trans a:hover > span {
   border-bottom: 2px solid #fff;
    padding-bottom: 4px;
 }
.nav-trans {
background: transparent;
}
.nav-trans a {
  color: #fff;
}
.nav-white {
background: #fff;
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.nav-white a {
  color: #673AB7;
}
.nav-white a:hover {
  color: teal;
}
.nav-white a:hover > span {
   border-bottom: 2px solid teal;
    padding-bottom: 4px;
}
.page-item.active .page-link {
    background-color: #343a40!important;
    border-color: #343a40!important;
}
.page-link {
    color: #343a40!important;
    border: none!important;
}
.page-item.active .page-link {
    color: #fff!important;
}
 /* #96dcf2 
 #f7e9a5
 
 background: #8E0E00; 
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
background: linear-gradient(to right, #1F1C18, #8E0E00); */
/* background: #da4453; */
  /* background: -webkit-linear-gradient(to right, #da4453, #89216b);  background: linear-gradient(to right, #da4453, #89216b) */
.registration-bg {
  padding: 80px 0 40px;
  background:  #e8e8e8;
   /* background: linear-gradient(to left bottom, #2da2c5f5, #7e55bdf7), url("../img/mainBg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed; */
  }
 .bg-blue {
background: linear-gradient(to left bottom, #2da2c5f5, #7e55bdf7), url("../img/mainBg.jpg");
  background-position: center;
  background-size: cover;
 }
  .bg-profile {
background: linear-gradient(to left bottom, #2da2c5f5, #7e55bdf7), url("../img/mainBg.jpg");
  background-position: center;
  background-size: cover;
 }
 .min-height{
  min-height: 40vh;

 }
 .registration-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .registration-header {
   font-weight: 300;
 }
 .registration-form {
   padding: 60px;
 }
 .btn.btn-register {
   /* background-color: #f7e9a5; */
    color: #464646;
    color: #fff;
    background-color: #3ecf8e;
    border-radius: .25rem;
 }
 .btn.btn-register:hover {
       background-color: #74f9bd;
    color: #464646;
 }
 form div {
   margin-bottom: 20px;
 }
form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
    color: #5f5f5f;
}
input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
}
select {
  color: #5f5f5f;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #7e55bdf7;
}
select {
  border: none;
}
select:focus {
  outline: none;
}
form ul {
  padding: 0;
    margin: 0;
    list-style: none;
}
form li {
  color: #e91e63;
    font-size: 13px;
}

footer {
  background: #32355b;
  color: #fff;
  font-weight: 200;
}
svg {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}

.copyright {
  font-size: 14px;
  color: #ffffffbd;
  margin: 10px 0;
}
.page {
  background: transparent;
    border: none;
    color: #32355b;
    cursor: pointer;
}
.page:focus {
  outline: none;
}
.filter {
  padding: 4px;
    border-radius: 2px;
    border: 1px solid #9e9e9e;
}
.filter:focus {
  border: 1px solid #673AB7;
}
.pagination {
  justify-content: center;
  margin-bottom: 40px;
}
.pagination > li {
  padding: 5px;
}
.pagination > li > a {
  color: #32355b;
    padding: 2px 9px;
    border-radius: 14px;
}
.pagination > li > a:hover, .pagination > li > a:active {
      background: #b1b1b1;
      text-decoration: none;
      color: #fff;
}
.remove-tag {
  padding: 4px 11px 6px;
    background: #fff;
    color: #673AB7;
    border-radius: 18px;
    text-transform: uppercase;
}
.remove-tag:hover {
  background: #673AB7;
    color: #fff;
    text-decoration: none;
}
textarea {
  width: 100%;
}
.footer-link {
  color: #fff;
}
.footer-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}