body {
  font-family: 'Lato', sans-serif;
}
.card {
  border: none!important;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
  border-radius: 0!important;
}
.logo {
    font-family: 'Gloria Hallelujah', cursive;
 }
 /* .main {

    background: linear-gradient(to right, rgba(120, 170, 186, 0.9), rgba(110, 157, 172, 0.9)), url("../img/mainBg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
 } */

 .hero {
   background: linear-gradient(to left bottom, #2da2c5f5, #7e55bdf7), url("../img/mainBg.jpg");
    background-position: top;
    background-size: cover;
  min-height: 600px;
  position: relative;
  display: flex;
    align-items: center;
 }
 .hero-title {
   color: #ffffff;
    text-align: center;
    font-size: 60px;
 }
 .btn.btn-main-register {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
 }
 .btn.btn-main-register:hover {
  background: #fff;
  color: #35a1c5;
 }
 .btn.btn-main-login {
   color: #fff;
    background-color: #35a1c5;
    border: 2px solid #35a1c5;
    border-radius: 20px;
 }
 .activity-card {
   position: relative;
   box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
   cursor: pointer;
 }
 .activity-text {
    background: #ffffff;
    padding: 10px 20px;
 }
 .activity-title {
    color: #7f7f7f;
    font-weight: 400;
    margin: 10px 0 15px;
 }

 .btn-more {
   color: #fff;
    background: #79a4b2;
 }
 .activity-card:hover > .overlay {
   opacity: 1;
 }
 .svg {
   position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
 }
 nav {
   transition: all 300ms;
 }
 nav a:hover {
   color: #fff;
 }
 nav a:hover > span {
   border-bottom: 2px solid #fff;
    padding-bottom: 4px;
 }
.nav-trans {
background: transparent;
}
.nav-trans a {
  color: #fff;
}
.nav-white {
background: #fff;
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.nav-white a {
  color: #2c2c2c;
}
.page-item.active .page-link {
    background-color: #343a40!important;
    border-color: #343a40!important;
}
.page-link {
    color: #343a40!important;
    border: none!important;
}
.page-item.active .page-link {
    color: #fff!important;
}
 /* #96dcf2 
 #f7e9a5
 
 background: #8E0E00; 
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
background: linear-gradient(to right, #1F1C18, #8E0E00); */
/* background: #da4453; */
  /* background: -webkit-linear-gradient(to right, #da4453, #89216b);  background: linear-gradient(to right, #da4453, #89216b) */
.registration-bg {
  padding: 80px 0 40px;
    background: linear-gradient(to right, rgba(120, 170, 186, 0.9), rgba(110, 157, 172, 0.9)), url("../img/children.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
  }
 .bg-blue {
   background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae);
  background: linear-gradient(to right, rgba(150, 220, 242, 0.9), rgba(150, 220, 242, 0.9)), url("../img/children.jpg");
  background-position: center;
  background-size: cover;
 }
 .registration-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .registration-header {
   font-weight: 300;
 }
 .registration-form {
   padding: 60px;
 }
 .btn-register {
   background-color: #f7e9a5;
    color: #464646;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
 }
 .btn-register:hover {
   background-color: #ffe772;
 }
 form div {
   margin-bottom: 20px;
 }
form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
    color: #5f5f5f;
}
input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
}
select {
  color: #5f5f5f;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #FFEB3B;
}
select {
  border: none;
}
select:focus {
  outline: none;
}
form ul {
  padding: 0;
    margin: 0;
    list-style: none;
}
form li {
  color: #9E9E9E;
    font-size: 13px;
}

footer {
  background: #32355b;
  color: #fff;
  font-weight: 200;
}
svg {
  width: 20px;
  margin: 5px;
}
.copyright {
  font-size: 14px;
  color: #ffffffbd;
}
.page {
  background: transparent;
    border: none;
    color: #32355b;
    cursor: pointer;
}
.page:focus {
  outline: none;
}