{#{% extends 'base.html.twig' %}#}

{#{% block title %}Map{% endblock %}#}

{#{% block body %}#}
    {#<div id="root"></div>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxFs6BvSj-oMOLNcgaNqpCFJeml4LXEX4"></script>#}
    {#<script src="{{asset("build/js/map.js")}}"></script>#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
    <div id="map-container">
        <div id="map"></div>
    </div>
    <button onclick="geoFindMe()">Show my location</button>
{% endblock %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript" src="{{asset("map/data.json")}}"></script>
    <script type="text/javascript" src="{{asset("map/markerclusterer.min.js")}}"></script>
    <script type="text/javascript" src="{{asset("map/map.js")}}"></script>

    <style type="text/css">

        #map-container {
            width: 100%;
        }

        #map {
            width: 100%;
            height: 550px;
        }

        .info {
            width: 200px;
        }

        .info img {
            border: 0;
        }

        .info-body {
            width: 200px;
            height: 200px;
            line-height: 200px;
            margin: 2px 0;
            text-align: center;
            overflow: hidden;
        }

        .info-img {
            height: 220px;
            width: 200px;
        }

    </style>


{% endblock %}