{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
<div id="root"></div>
    {% if clubs %}
        <table id="clubs" class="table table-striped">
            <thead>
            <tr>
                <th>Club Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.title }}</td>
                    <td>
                        <a href="/club/{{ club.id }}" class="btn btn-dark">Show</a>
                        <a href="/club/edit/{{ club.id }}" class="btn btn-light">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clubs to display</p>
    {% endif %}
{% endblock %}


    {% block javascripts %}
        <script src="/js/main.js"></script>
        <script src="{{asset("build/js/index.js")}}"></script>
    {% endblock %}
