<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
    Ištrinti komentarą
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Komentaro trynimas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ar tikrai norite ištrinti komentarą?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                {{ form_start(form, {
                    'action': path('admin_delete_comment_action', {'user': comment.user.id, 'id': comment.id})
                }) }}
                <button type="submit" class="btn btn-danger">Trinti komentarą</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>