{% if not app.user %}
    <p>Tik registruoti vartotojai gali rašyti komentarus</p>
{% else %}
    {{ form_start(form, {
        'class': 'form-inline',
        'attr': {
            'id': 'commentForm',
            'name': 'comment'
        }
    }) }}
    {{ form_row(form.commentText) }}
    {% if not post %}
        <p>Komentarą būrelio puslapyje galima palikti kartą per 24h</p>
    {% else %}
        <button type="submit" class="btn btn-green" formnovalidate>Siųsti atsiliepimą</button>
    {% endif %}
    {{ form_end(form) }}
{% endif %}


