{% extends 'base.html.twig' %}

{% block title %}Po pamokų{% endblock %}

{% block body %}
<div class="main">
    <div class="hero">
        <div class="container pt-4">
            <div class="row justify-content-start justify-content-lg-center hero-row">
                <div class="col-12 col-md-6">
                    <h1 class="hero-title text-left text-md-center">Po pamokų</h1>
                    <p class="text-left text-lg-center mx-0 mx-md-auto pt-4 hero-text">Visi būreliai vienoje vietoje.<br> Raskite įdomiausius būrelius ir po pamokines veiklas!</p>
                </div>
                    <div class="foto1">
                    </div>
                    <div class="foto2">
                    </div>
                {% if not app.user %}
                    <p class="col-12 text-left text-lg-center pl-4 px-lg-0"></p>
                    <a href="{{ path('registration', {'role': 'user'}) }}" class="btn btn-main-register ml-4 ml-lg-0 mr-3">Vartotojo registracija</a>
                    <a href="{{ path('registration', {'role': 'owner'}) }}" class="btn btn-main-register ml-4 ml-sm-0">Būrelio registracija</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="root"></div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}

