{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
<div class="main">
    <div class="hero">
        <div class="container pt-4">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="hero-title">Po pamokų</h1>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-white text-center">Visi būreliai vienoje vietoje. Raskite įdomiausius būrelius ir po pamokines veiklas!</p>
                    
                </div>
            </div>
            <div class="row justify-content-center">
                {% if not app.user %}
    <p class="col-12 text-center text-white">REGISTRACIJA:</p>
                            <a href="{{ path('registration', {'role': 'user'}) }}" class="btn btn-main-register mr-2">Ieškau būrelio</a>

                        <a href="{{ path('registration', {'role': 'owner'}) }}" class="btn btn-main-register mr-2">Siūlau būrelį</a>
                    {# <div class="col-12 col-sm-6">
                        <a href="{{ path('login') }}" class="btn btn-main-login">Prisijungti</a>
                    </div> #}
                {% endif %}
            </div>
        </div>
    </div>
    {# <div class="container">
        <div class="search py-5">
            <h1>Paieška</h1>
        </div>
    </div> #}
    <div id="root"></div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset("build/js/index.js")}}"></script>
    
{% endblock %}

