{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
<div id="root">
       
</div>
 
   {# {% if activities %}
        <table id="activities" class="table table-striped">
            <thead>
            <tr>
                <th>Activity Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td>
                        <a href="/activity/{{ activity.id }}" class="btn btn-dark">Show</a>
                        <a href="/activity/edit/{{ activity.id }}" class="btn btn-light">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No activities to display</p>
    {% endif %} #}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
    <script src="{{asset("build/js/index.js")}}"></script>
{% endblock %}