{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
<div class="main">
    <div class="hero">
        <div class="container pt-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 hero-title">Po pamokų</h1>
                </div>
                <div class="col-12 col-md-6">
                        <p class="lead text-grey">Visi būreliai vienoje vietoje. Raskite įdomiausius būrelius ir po pamokines veiklas!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-4">
                    {% if not app.user %}
                        <a href="{{ path('registration', {'role': 'owner'}) }}" class="btn btn-main-register mr-2">Vadovo registracija</a>
                        <a href="{{ path('registration', {'role': 'user'}) }}" class="btn btn-main-register mr-2">Kliento registracija</a>
                        <a href="{{ path('login') }}" class="btn btn-main-login">Prisijungti</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search py-5">
            <h1>Paieška</h1>
        </div>
    </div>
    <div id="root"></div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset("build/js/index.js")}}"></script>
{% endblock %}

