{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1></h1>
    <hr>
    <a href="/">Go Back</a>
    <div id="showActivity"></div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset("build/js/index.js")}}"></script>
    <script>
        var id = {{id}};
       
   </script>
   
   {{ parent() }}
{% endblock %}