footer {
  background: #32355b;
  color: #fff;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
svg {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}

.copyright {
  font-size: 14px;
  color: #ffffffbd;
  margin: 10px 0;
}
.footer-link {
  color: #fff;
}
.footer-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}