.map-btn {
    background: #3ecf8e;
    color: #fff;
    border-radius: 4px;
    width: 144px;
}
.geo-btn {
    position: absolute;
    z-index: 1;
    top: -6px;
    left: 164px;
}
.map-btn:hover {
    background: #38bb80;
}
.myPlace-btn {
    border-radius: 4px;
    color: #fff;
    background: #ff3a72;
}
.myPlace-btn:hover {
    background: #e13666;
    color: #fff;
}
.exit-btn {
    color: #ff3a72;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 4px;
    &:hover {
        background-color: #ededee;
    }
}
.view-box {
    width: 250px;
    p {
        margin-bottom: 10px;
        color: #727272;
    }
}
.image-box {
    width: 250px;
    height: 150px;
    line-height: 100px;
    margin: 2px 0;
    text-align: center;
    overflow: hidden;
    img {
        width: 250px;
    }
}
.info-window {
    max-width: 300px;
}
@media screen and (max-width: 375px) {
    .geo-btn {
        top: 36px;
        left: 10px;
    }
    .info-window {
    max-width: 250px;
}
}