// .radio-inline {
//     display: inline;
//     width: auto;
//     position: absolute;
//     top: 14px;
//     left: 10px;
//     opacity: 0;
//     cursor: pointer;
// }

// .star {
//     font-size: 28px;
//     color: #9e9e9e;
//     cursor: pointer;
// }
// .star:hover {
//         color: #ffec40;
// }
// .radio-inline:hover ~.star:before {
//     color: #ffec40;
// }
// .star:hover ~.star {
//     color: #ffec40;
// }


.rate-area {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
  border-style: none;
  font-size: 30px;
  label {
      width: 0;
  }
}

.rate-area:not(:checked) > input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1.2;
  color: lightgrey;
}

.rate-area:not(:checked) > label:before { 
    content: '★ '; 
}

.rate-area > input:checked ~ label {
  color: gold;
}

.rate-area:not(:checked) > label:hover,
 .rate-area:not(:checked) > label:hover ~ label { 
    color: gold; 
}

.rate-area > input:checked + label:hover,
 .rate-area > input:checked + label:hover ~ label,
  .rate-area > input:checked ~ label:hover,
   .rate-area > input:checked ~ label:hover ~ label,
    .rate-area > label:hover ~ input:checked ~ label {
  color: gold;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}



