.registration-bg {
  padding: 80px 0 60px;
  }
  .registration-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .login-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .registration-header {
   font-weight: 300;
 }
 .registration-form {
   padding: 60px;
 }
 .btn-register {
    color: #fff;
    border: 2px solid #fff;
    border-radius: .25rem;
    font-size: 16px;
 }
 .btn-register:hover {
   color: #7e55bdf7;
   background: #fff;
 }
 .link {
   color: #fff;
    text-decoration: underline;
 }
 .link:hover {
   color: #5f5f5f;
 }
.registration-form div {
   margin-bottom: 20px;
 }
.registration-form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}
.registration-form input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #7e55bdf7;
}
select {
  border: none;
  color: #757575;
}
select:focus {
  outline: none;
}
form ul {
  padding: 0;
    margin: 0;
    list-style: none;
}
form li {
  color: #e91e63;
    font-size: 13px;
}
#profile div, #change_password div, .login-form div {
   margin-bottom: 20px;
 }
#profile label, #change_password label, .login-form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}
#profile input, #change_password input, .login-form input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  border-bottom: 1px solid #7e55bdf7;
  }
}

#activity_back {
color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 4px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
}
#registration_next, #activity_next, #location_register {
  color: #fff;
    background-color: #3ecf8e;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
#registration_next:hover, #activity_next:hover, #location_register:hover {
    background-color: #38bb80;
}
.activity-edit-form {
  label {
    display: block;
    font-size: 14px;
    margin: 0;
  }
  input, .form-control, #activity_Subcategory, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dfdddd;
    padding: 5px;
    margin: 5px 0 20px;
  }
}
@media screen and (max-width: 576px) {
  .registration-aside {
    padding: 20px 15px;
}
  .registration-form {
    padding: 20px 15px;
  }
  .registration-bg {
    padding: 59px 0 0;
}
  .registration-cont {
    padding: 0;
  }
  .login-col {
   padding: 0;
 }
}
label.required:after {
  content: "* ";
}