.registration-bg {
  padding: 80px 0 60px;
  background:  #eee;
  }
  .registration-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .login-aside {
   background-color: transparent;
    padding: 60px 30px;
    color: #fff;
 }
 .registration-header {
   font-weight: 300;
 }
 .registration-form {
   padding: 60px;
 }
 .btn-register {
    color: #fff;
    border: 2px solid #fff;
    border-radius: .25rem;
    font-size: 16px;
 }
 .btn-register:hover {
   color: #7e55bdf7;
   background: #fff;
 }
.registration-form div {
   margin-bottom: 20px;
 }
.registration-form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}
.registration-form input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #7e55bdf7;
}
select {
  border: none;
  color: #757575;
}
select:focus {
  outline: none;
}
form ul {
  padding: 0;
    margin: 0;
    list-style: none;
}
form li {
  color: #e91e63;
    font-size: 13px;
}
#profile div, #change_password div, .login-form div {
   margin-bottom: 20px;
 }
#profile label, #change_password label, .login-form label {
  min-width: 200px;
  display: block;
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}
#profile input, #change_password input, .login-form input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  border-bottom: 1px solid #7e55bdf7;
  }
}
@media screen and (max-width: 576px) {
  .registration-aside {
    padding: 20px 15px;
}
  .registration-form {
    padding: 20px 15px;
  }
  .registration-bg {
    padding: 59px 0 0;
}
  .registration-cont {
    padding: 0;
  }
  .login-col {
   padding: 0;
 }
}