{% extends 'bundles/FOSMessageBundle/layout.html.twig' %}

{% block fos_message_content %}

<h2 class="py-5">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>
<div class="mb-5 mssg-table">
{% include 'bundles/FOSMessageBundle/Message/threads_list.html.twig' with {'threads': threads} %}
</div>
{% endblock %}
