
<nav id="navbar" class="navbar navbar-expand-sm nav-trans fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">
            {# <img src="{{asset("build/logo.png")}}"> #}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><span>Pagrindinis</span></a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Prisijungti</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link"><span>Atsijungti</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ app.user.email }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
